# Database
# DATABASE_URL=postgresql+asyncpg://news_user:news_pass_2024!@localhost:5433/ai_news_manager
DATABASE_URL=postgresql+asyncpg://news_user:news_pass_2024!@postgres:5432/ai_news_manager

POSTGRES_USER=news_user
POSTGRES_PASSWORD=news_pass_2024!
POSTGRES_DB=ai_news_manager

# Redis
# REDIS_URL=redis://:redis_secret_789@localhost:6380/0
REDIS_URL=redis://:redis_secret_789@redis:6379/0

REDIS_PASSWORD=redis_secret_789

# API Authentication
API_SECRET_TOKEN=super_secret_api_token_xyz123

# Telegram API
TELEGRAM_API_ID=11222811
TELEGRAM_API_HASH=cb2f9bd85e3142027b93fc22c479a4de
TELEGRAM_SESSION_NAME=ai_news_parser

# Celery
# CELERY_BROKER_URL=redis://:redis_secret_789@localhost:6380/0
# CELERY_RESULT_BACKEND=redis://:redis_secret_789@localhost:6380/0

CELERY_BROKER_URL=redis://:redis_secret_789@redis:6379/1
CELERY_RESULT_BACKEND=redis://:redis_secret_789@redis:6379/2

# AI (для будущих этапов)
OPENROUTER_API_KEY=your_openrouter_key_here

# URL для подключения из нашего Python-приложения
QDRANT_URL=http://localhost:6333

# API-ключ для доступа к Qdrant. Сгенерируй случайную строку.
# Например, можно использовать `openssl rand -hex 32` в терминале.
QDRANT_API_KEY=*****

# Название коллекции (таблицы) в Qdrant, где будут храниться векторы новостей
QDRANT_COLLECTION_NAME=news_embeddings


# App Settings
ENVIRONMENT=development
LOG_LEVEL=INFO
